.sidebar{
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  background-color: white;
}

.sidebar img{
  height: 24px;
  margin-bottom: 5px;
}

.sidebar p{
  font-size: 10px;
}

.sidebar-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 74px;
  width: 72px;
}

.sidebar-content:hover{
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.sidebar-content:hover img{
  height: 26px;
  margin-bottom: 10px;
}

